<div
  class="w-full h-16 bg-gray-800 text-white flex items-center justify-between px-4"
>
  <div
    class="flex items-center gap-3 cursor-pointer hover:text-blue-500"
    [routerLink]="[PATHS.BASE]"
  >
    <img src="logo.png" alt="Logotipo Loja CaixaVerso" class="h-10" />
    <span class="text-xl font-bold">{{ title }}</span>
  </div>
  <div class="text-sm">
    <span>{{ subtitle }}</span>
  </div>
  <nav class="flex space-x-4">
    @if (userSignal()?.role === 'admin' && isLoggedIn()) {
    <button
      mat-icon-button
      class="relative mr-2"
      [routerLink]="[PATHS.BASE, PATHS.ADMIN]"
      aria-label="Administração"
      matTooltip="Área administrativa"
    >
      <span class="material-icons text-2xl text-white"
        >admin_panel_settings</span
      >
    </button>
    }
    <button
      mat-icon-button
      class="relative ml-2"
      [routerLink]="[PATHS.BASE, PATHS.CART]"
      aria-label="Carrinho"
    >
      <span class="material-icons text-2xl text-white">shopping_cart</span>
      <span
        *ngIf="cartCountSignal() > 0"
        class="absolute top-0 right-0 bg-amber-600 text-white rounded-full px-2 text-xs"
        >{{ cartCountSignal() }}</span
      >
    </button>
    @if (isLoggedIn()) {
    <div class="flex items-center gap-2">
      <img
        [src]="userSignal()?.avatar"
        alt="mat-card-avatar"
        class="h-8 w-8 rounded-full object-cover"
      />
      <span>{{ userFirstNameSignal() }}</span>
      <button mat-button class="bg-slate-300" (click)="logout()">Sair</button>
    </div>
    } @else {
    <button
      mat-button
      class="bg-slate-300"
      [routerLink]="[PATHS.BASE, PATHS.AUTH, PATHS.LOGIN]"
    >
      Entrar
    </button>
    }
  </nav>
</div>
