<div class="bg-slate-50 p-8 rounded-2xl">
  @if (authService.loading()) {
  <mat-progress-bar
    mode="indeterminate"
    color="primary"
    class="mb-4"
  ></mat-progress-bar>
  }
  <mat-card>
    <mat-card-header>
      <mat-card-title>Registrar</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" type="text" />
          @if (form.controls.name.hasError('required')) {
          <mat-error>Nome é obrigatório</mat-error>
          } @else if (form.controls.name.hasError('minlength')) {
          <mat-error>Mínimo de 3 caracteres</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          @if (form.controls.email.hasError('required')) {
          <mat-error>Email é obrigatório</mat-error>
          } @else if (form.controls.email.hasError('email')) {
          <mat-error>Email inválido</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" type="password" />
          @if (form.controls.password.hasError('required')) {
          <mat-error>Senha é obrigatória</mat-error>
          } @else if (form.controls.password.hasError('minlength')) {
          <mat-error>Mínimo de 6 caracteres</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Confirmar Senha</mat-label>
          <input matInput formControlName="confirmPassword" type="password" />
          @if (form.controls.confirmPassword.hasError('required')) {
          <mat-error>Confirmação é obrigatória</mat-error>
          }
        </mat-form-field>

        @if (errorMessage()) {
        <mat-error>{{ errorMessage() }}</mat-error>
        }

        <button
          mat-raised-button
          color="primary"
          class="w-full py-2"
          [disabled]="loading()"
        >
          @if (loading()) {
          <mat-progress-spinner
            mode="indeterminate"
            diameter="20"
          ></mat-progress-spinner>
          } @else { Registrar }
        </button>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card-footer class="text-center mt-4">
    <p>
      Já tem uma conta?
      <a
        [routerLink]="[PATHS.BASE, PATHS.AUTH, PATHS.LOGIN]"
        class="text-blue-600"
        >Entrar</a
      >
    </p>
  </mat-card-footer>
</div>
