<mat-card class="bg-transparent">
  <mat-card-header class="w-full">
    <mat-form-field class="w-full">
      <mat-label>Pesquise um produto</mat-label>
      <input
        matInput
        [ngModel]="searchTermSignal()"
        (ngModelChange)="onSearchTermChange($event)"
        placeholder="Digite..."
      />
    </mat-form-field>
  </mat-card-header>
  <mat-card-content class="w-full">
    @if (displayedProducts().length === 0) {

    <p class="min-w-full text-center text-lg text-white">
      Nenhum produto encontrado.
    </p>

    } @else {

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
    >
      @for (product of displayedProducts(); track product.id) {
      <app-card [product]="product"></app-card>
      }
    </div>
    }
  </mat-card-content>
  <mat-card-footer class="w-full mt-2">
    <mat-paginator
      class="bg-transparent"
      [ngClass]="{
        hidden: totalProducts() === 0,
        block: totalProducts() > 0
      }"
      [length]="totalProducts()"
      [pageSize]="pageSize()"
      [pageSizeOptions]="pageSizeOptions"
      itemsPerPageLabel="Itens por página"
      firstPageLabel="Primeira página"
      lastPageLabel="Última página"
      nextPageLabel="Próxima página"
      previousPageLabel="Página anterior"
      showFirstLastButtons="true"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </mat-card-footer>
</mat-card>
